@model IEnumerable<WebApplication1.Models.Ticket>

<h1>Lista biletów</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Dostępne</th>
            <th>Akcje</th>
            <th>Zakup</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.Name</td>
                <td>@ticket.Price</td>
                <td>@ticket.AvailableTickets</td>
                <td>
                    <a href="@Url.Action("Edit", "Ticket", new { id = ticket.Id })">Edytuj</a> |
                    <a href="@Url.Action("Delete", "Ticket", new { id = ticket.Id })">Usuń</a>
                </td>
                <td>
                   
                    <form asp-action="Purchase" method="get">
                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                        <button type="submit" class="btn btn-primary">Kup</button>
                    </form>
                </td>
            </tr>
        }
        
    </tbody>
</table>

<a href="@Url.Action("Create", "Ticket")">Dodaj nowy bilet</a>
